* {
    font-family: Arial, Helvetica, sans-serif;
}
.none {
    display: none;
    border: 0;
    visibility: hidden;
}
section {
    width: 90%;
    margin: 0 auto;
    padding: 15px;
    color: navy;
    border: 3px solid navy;
}
button {
    font-size: 24px;
    font-weight: bold;
    padding: 0.3em;
    background-color: aliceblue;
    border: 2px solid navy;
    color: navy;
    margin: 0 auto;
}
h1 {
    text-align: center;
}
p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border: 2px solid navy;
    padding: 5px;
}
